@import url(https://fonts.googleapis.com/css?family=Oswald:700);
#shcd_3dtext_cont {
  perspective: 400px;
  perspective-origin: 50% 100%;	
  text-align: center;
}
#shcd_3dtext {
  margin: 0 auto;
}
#shcd_3dtext h2 {
  font:86px "Oswald";
  transform: rotateX(20deg);
  text-shadow: 0px 2px 0px #666, 0px 4px 0px #444, 0px 6px 1px #aaa, 0px 7px 1px #ccc, 0px 8px 2px #ddd, 0px 8px 2px #eee, 0px 9px 2px #fff;
}
